html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eae3d3;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  height: 10vh;
  margin: auto;
  padding: 0rem 5rem;

  align-items: center;
  justify-content: space-around;
  animation: slide-down 1.5s ease;
}

nav {
  align-items: center;
  flex: 1;
}

.nav-buttons {
  justify-content: space-around;
  display: flex;
  list-style: none;
}

.nav-buttons button {
  outline: none;
  padding: 0.5rem 4rem;
  font-weight: 300;
  font-size: 2.5rem;
  border: none;
  color: #635750;
  background: transparent;
  border-radius: 2.5rem;
}

.nav-buttons button:hover {
  color: #eae3d3;
  background-color: #635750;
  transform: scale(1.15);
  transition: ease all;
}

.nav-buttons button:active {
  transform: scale(0.9);
}

h1,
h2,
p {
  color: #635750;
}

.main-content {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  align-items: center;
}

.main-text {
  flex: 1;
  animation: slide-up 1.5s ease;
}

.explore {
  outline: none;
  margin: 3rem 0.5rem;
  padding: 0.5rem 4rem;
  background: #635750;
  font-weight: 300;
  color: #eae3d3;
  font-size: 3rem;
  border: 0.2rem solid #635750;
  border-radius: 10rem;
  transition: ease all;
}

.explore:hover {
  background: #eae3d3;
  color: #635750;
  border: 0.2rem solid #635750;
  transform: scale(1.15);
}

.explore:active {
  transform: scale(1);
}

.content {
  display: flex;
}

.main-text h1 {
  line-height: 9rem;
  font-weight: 850;
  font-size: 10rem;
}
.main-text p {
  font-size: 2.8rem;
}

.cover-image img {
  width: 500px;
  max-width: 150rem;
  animation: reveal 1.5s ease;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1220px) {
  .main-content {
    flex-direction: column;
  }
  .main-text {
    margin-top: 1vh;
    text-align: center;
  }
  .main-text h1 {
    font-size: 7rem;
  }
  .main-text p {
    font-size: 2rem;
  }
  .cover-image {
    flex: 100;
  }
  .cover-image img {
    width: 380px;
  }
  .nav-buttons button {
    font-size: 2rem;
    padding: 0rem 1rem;
  }
  .nav-buttons button:hover {
    color: #635750;
    background-color: #eae3d3;
    transform: scale(1);
  }
  .nav-buttons button:active {
    transform: scale(0.9);
  }

  .explore {
    font-size: 2.5rem;
  }
  .explore:hover {
    background: #635750;
    color: #eae3d3;
    border: 0.2rem solid #635750;
    transform: scale(1);
  }

  .explore:active {
    transform: scale(0.9);
  }
}

@media (max-width: 700px) {
  .main-text {
    margin-top: 0.55vh;
  }
  .main-text h1 {
    font-size: 6rem;
  }
  .main-text p {
    font-size: 1.75rem;
  }
  .nav-buttons button {
    font-size: 1.675rem;
  }
  .explore {
    font-size: 2rem;
  }

  .cover-image img {
    width: 300px;
  }
}

@media (max-width: 380px) {
  .main-text {
    margin-top: 0vh;
  }
  .main-text h1 {
    font-size: 4rem;
  }
  .main-text p {
    font-size: 1.3rem;
  }
  .nav-buttons button {
    font-size: 1rem;
  }
  .explore {
    font-size: 1.5rem;
  }
  .cover-image img {
    width: 250px;
  }
}
